{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    {% set genres = '' %}
    {% for genre in movie.genres %}
        {% set genres = genres ~ (genres != '' ? ', ') ~ genre.name %}
    {% else %}
        {% set genres = 'No known genres.' %}
    {% endfor %}

    <div class="example-wrapper">
        <h1 class="pt-5">Movie : {{ movie.title }}</h1>
        <img src="{{ movie.poster}}" />

        <ul>
            <li>Country : {{ movie.country }}</li>
            <li>Release date: {{ movie.releasedAt|date('Y M d') }}</li>
            <li>Genres: {{ genres }}</li>
            <li>Rated: {{ movie.rated }}</li>
            <li>IMDb ID: {{ movie.omdbId }}</li>
        </ul>
    </div>
{% endblock %}
